@font-face {
    font-family: "Roboto-Thin";
    src: url("https://raw.githubusercontent.com/hamzeen/toolkit/master/fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font: 16px/1.7 "Roboto-Thin", sans-serif, helvetica, Arial, sans-serif;
  /*text-shadow: 0 1px 0 rgba(20,20,20,0.5);*/
}

body {
  line-height:1;
  color:#000;  /*#FCFDF9;*/
  font: 16px/1.7 Arial, sans-serif;

  min-width:800px;
  width: auto !important;
  width:800px;

  /*background: url('../img/002.jpg') #141414;*/
  background: url('../img/bg_tex.png') #010101;
  /*background-size: cover;*/
  margin-bottom: 2vh;
  overflow: scroll;
}

ol,ul {
  list-style:none;
}

.preload {
    position: absolute;
    letter-spacing: 2px;
    width: 80px;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.preload:before,
.preload:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    opacity: 0.9;
    border-radius: 10px 4px;
    background: #ffffff;
    -webkit-animation: flipboxes 1.4s infinite ease-in-out;
    animation: flipboxes 1.4s infinite ease-in-out
}
.preload:after {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.preload {
    top: 50%;
    left: 50%;
    position: fixed;
    opacity: 1 !important;
    padding-top: 100px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.onload .preload {
    display: none;
    border: 20px solid red;
}

.content {
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s
}
.onload .content {
    opacity: 1
}

@keyframes flipboxes {
    25% {
        -webkit-transform: translateX(42px) rotate(90deg) scale(.6);
        transform: translateX(42px) rotate(90deg) scale(.6);
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(0deg);
        transform: translateX(42px) translateY(42px) rotate(0deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(90deg) scale(.6);
        transform: translateX(0px) translateY(42px) rotate(90deg) scale(.6)
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/* widget for metadata */
.widget-meta {
  clear: both;
  position: relative;
  top: 16px;
  left: 20px;
  width: 320px;
}
.meta-wrapper {
    /*background: rgba(10,8,8,.9);*/
    background: #FFCB05;
    padding: 10px;
}

.meta-wrapper:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0px;

    border-bottom: solid 47px #FFCB05;
    border-right: solid 25px transparent;
}
@media (max-width: 420px) {
    .meta-wrapper {
      display:none;
    }
}
.title-desc {
    font-family: "Roboto-Thin", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.title-desc span {
    color: #999;
    width: 200px;
    display: inline-block;
    font-weight: 400;
    padding-left: 8px;
    font-family: "Roboto-Thin", sans-serif;
    font-size: 13px;
    text-shadow: 1px 0px 0px rgba(200,200,200,0.5);
}

/* image slider */
div#slidercontainer {
	position: absolute;
  top: 90px;
  left: calc(50vw - 370px);
  background: rgba(220,220,220,.1);
  padding: 8px;
}

/* the demo styles (at the end preload) */
.btn_more:hover {
  box-shadow: -1px 2px 1px -1px rgba(0, 0, 0, 0.3);
}
.btn_more {
    position: absolute;
    z-index: 700;

    width: 41px;
    height: 41px;
    right: 2%;
    top: 6%;
    margin-top: -22px;
    margin-left: -22px;


    background-image: url(../img/btn_more.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFCB05;/*rgba(132, 206, 66, 1);*/
    /*border: 1px rgba(132, 206, 66, 1) solid;*/
    box-shadow: -3px 4px 2px -1px rgba(0, 0, 0, 0.3);

    text-indent: -409vw;
    cursor: pointer;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.btn_more.transform {
    right: 270px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: none;
}

/* Instructions menu */
ul#instructions {
  list-style: none;
  position: absolute;
  right: 10px;
  top: 26px;
  z-index: 102;

  /*font-family: "Roboto-Thin", sans-serif;
  font-size: 16px;
  font-weight: 300;*/

  font-family: "Roboto-Thin", sans-serif;
  font-size: 16px/1.7;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(20,20,20,0.5);
}

ul#instructions.collapsed li{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateY(100px) translateZ(0);
  transform: translateY(100px) translateZ(0);
}

li {
    clear: both;
    padding: 10px;
    width: 260px !important;
    line-height: 1;
    float: left;
    transition: all .28s ease;

    /*background: #fff;
    color: #9F80BF;#9D5 | #A9F*/
    background: rgba(15,15,15,.8);/*#202020;*/
    color: #B191A1;
    /*box-shadow: 1px 1px 1px 1px rgba(25, 50, 20, 0.5);*/
    box-shadow: 1px 0px 1px 0px rgba(125, 150, 120, 0.1);
    -webkit-font-smoothing: antialiased;
}li:nth-child(odd) {}li:nth-child(even) {}
li:hover {
  color: rgba(255,250,250,.85); /*#DF9FBA/* | #CF9FB0 | #EFEFFE | #7dcc43*/
  background: #009FDA;/* | #edf8e3*/
  padding-left: 20px;
  width: 250px !important;
}

li:nth-child(1),
li:nth-child(6) {
    transition-delay: 0s;
}

li:nth-child(2),
li:nth-child(4) {
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
}

li:nth-child(3),
li:nth-child(6) {
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

/*
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateY(100px) translateZ(0);
  transform: translateY(100px) translateZ(0);
/*
#instructions-open {
    visibility: visible;
    height: auto
}
#instructions-open li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}*/

div.clr  {
  clear:both;
}
